body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background: linear-gradient(to right, #aa64c5, #e78882);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6f7f9;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #211316;
    padding-top: 30px;
}

.output {
    grid-column: 1 / -1;
    background-color: #211316;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;

}

.calcDisplay {
    font-size: 30px;
    color: rgb(210, 207, 207);
}

.display {
    font-size: 50px;
    color: white;
}

.frame > button {
    background-color: #0F5298;
    outline: none;
    border: solid thin white;
    background-color: rgb(244, 247, 249, .85);
    color: #211316;
    font-size: 25px;
    cursor: pointer;
}

#clearAll,
#delete {
    grid-column: span 2;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 25px;
    margin: 5px;
    cursor: pointer;   
}

button:hover {
    background-color: #66D3FA;
    transition: 0.1s ease-in-out;
}

button:active {
    background-color: aquamarine;
}